body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #b977ff;
    background-image: url('fondo_pagina_diseño.jpg');
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(to right,#6800f0, #ffa7f8);
    box-shadow: 0 4px 6px #d382ff;
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
    
}

nav ul {
    list-style: none; /* elimina los puntos o números de la lista */
    padding: 0;
    display: flex;/* usa flexbox para el diseño */
    justify-content: center; /* centra los elementos de la lista */
}

nav ul li {
    display: inline; /* los elementos de la lista se muestran en línea */
    margin-right: 20px;
    font-size: larger; /* aumenta el tamaño de la fuente */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#boton-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #f36fff;
    color: rgb(255, 255, 255); 
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

#boton-inicio a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

section {
    background: linear-gradient(to right,#0250b6, #ff84f3);
    padding: 40px;
    margin: 30px auto;
    border-bottom: 2px solid #bf75ff;
    text-align: center;
    box-shadow: #050dfa 0px 0px 10px; /* sombra alrededor de las secciones */
}
#quienes-somos, #section-01 ,#section-02 {
    background-color: #0799e7;
    margin: 30px auto;
    box-shadow: #050dfa 0px 0px 10px; /* sombra alrededor de las secciones */
}
#quienes-somos{
    text-align: center;
    width: 1080px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
   
}

#quienes-somos .imagen01{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
    margin-right: 20px;
    animation: moverDerecha 10s infinite ;
    box-shadow: #d0ff42 10px;
}


@keyframes moverDerecha { /* Define la animación, movimiento de imágenes a la derecha */
    0% {
        transform: translateX(0); /* Posición inicial */
      }                 
      50% {
        transform: translateX(50px);
     
}
      100% {
        transform: translateX(0); /* Vuelve a la posición inicial */
}
}

#quienes-somos .imagen02{
    width: 350px;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
    margin-right: 20px;
    animation: moverDerecha 10s infinite;
   
}

#quienes-somos .imagen03{
    width: 265px;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
    margin-right: 20px;
    animation: moverDerecha 10s infinite;
   
}

#section-01{
    width: 1050px;
    height: 500;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}
.img-section-01{
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    animation: aparecerImagen 10s infinite;
}

@keyframes aparecerImagen{ /* Define la animación, aparición de la imagen */
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }from { opacity: 0; } /* o 0% */
      to { opacity: 1; }   /* o 100% */
}

#section-02{
    width: 1080px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    
}
#section-02 ul{
    width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    list-style: none;
    animation: aparecerImagen 3s ease-in-out;
    
}
#contacto{
    background: linear-gradient(to right, #fb84ff, #b986ff);
    text-align: center;
    width: 1080px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    
   
}
#contacto {
   width: 80%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    animation: aparecerImagen 3s ease-in-out;
    
}


h2 {
    color: #fffdfd;
    font-size: 50px;

}

.donde-estamos {
    color: #fffdfd;
    text-align: center;
    font-size: larger;
    border: #fa72ff 2px solid;
    background-color: #aa5aff;
}

#mapa iframe {
width: 70%;
    height: 400px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    box-shadow: #d900ff 0px 0px 10px; /* sombra alrededor del mapa */
}

footer {
    background: linear-gradient(to right,#863aff, #ff91ff);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    box-shadow: #be78ff 0px 0px 10px; /* sombra alrededor del footer */
}

#quienes-somos .imagen03{
width:300px;
height:300px ;
}

#quienes-somos .imagen02{
width: 300px;
height: 300px;
}

#quienes-somos .imagen01{
width: 300px;
height: 300px;
}

.imagen_01{
width: 200px;
height: 1000;
border-radius: 20px;
box-shadow: #42fff2;
}